* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./FB_IMG_1596950758900.jpg);
}

.preguntas {
    background: rgba(0, 0, 0, .60);
    color: #fff;
    border-radius: 5px;
    margin: auto;
    width: 700px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 25px;
}

.menu span {
    color: blue;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    padding-top: 35px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.link {
    color: red;
}

.preguntas h1 {
    color: blueviolet;
    float: auto;
    font-size: 30px;
    margin-left: 300px;
    margin-top: 50px;
    width: 100%;
    height: 0px;
}